<ng-container>
    <div id="filter-section">
        <div class="filter-drop-down-container">
            <!-- Idle -->
            <ng-template [ngIf]="showDropdown == false">
                <div class="filter-drop-down" id="filter-by" (pointerover)="toggleDropdown()">
                    <!-- Only one <p> element here. Value inside will be variable -->
                    <!-- {{filterType}} -->
                    <p *ngIf="filterGroup == 0">Region of the World</p>
                    <p *ngIf="filterGroup == 1">Language Used</p>
                    <p *ngIf="filterGroup == 2">Member Size</p>
                </div>
            </ng-template>

            <!-- Toggled -->
            <ng-template [ngIf]="showDropdown == true">
                <div class="filter-drop-down-toggled" id="filter-by" (pointerleave)="toggleDropdown()">
                    <div class="filter-group-selection" (click)="filterClick(0)"><p>Region of the World</p></div>
                    <div class="filter-group-selection" (click)="filterClick(1)"><p>Language Used</p></div>
                    <div class="filter-group-selection" (click)="filterClick(2)"><p>Member Size</p></div>
                </div>
            </ng-template>

        </div>
        <div class="choice-container" id="filter-type">
            <!-- Region -->
            <ng-template [ngIf]="filterGroup == 0">
                <div (click)="onClick()">Asia-Pacific</div>
                <div (click)="onClick()">Europe</div>
                <div (click)="onClick()">Latin America</div>
                <div (click)="onClick()">North America</div>
            </ng-template>

            <!-- Language -->
            <ng-template [ngIf]="filterGroup == 1">
                <div (click)="onClick()">English</div>
                <div (click)="onClick()">French</div>
                <div (click)="onClick()">Italian</div>
                <div (click)="onClick()">Spanish</div>
                <div (click)="onClick()">Portuguese</div>
                <div (click)="onClick()">German</div>
                <div (click)="onClick()">Filipino</div>
                <div (click)="onClick()">Japanese</div>
                <div (click)="onClick()">Mandarin</div>
            </ng-template>

            <!-- Member Size -->
            <ng-template [ngIf]="filterGroup == 2">
                <div (click)="onClick()">5-10</div>
                <div (click)="onClick()">10-50</div>
                <div (click)="onClick()">50-100</div>
                <div (click)="onClick()">100-1000</div>
                <div (click)="onClick()">1000+</div>
            </ng-template>
        </div>
    </div>
</ng-container>