<div class="view-selector">
    <div class="view-choice" (click)="changeView(0)">
        <h4>Regions of the World</h4>
    </div>
    <div class="view-choice" (click)="changeView(1)">
        <h4>Marginalized Groups</h4>
    </div>
    <div class="view-choice" (click)="changeView(2)">
        <h4>Curricular Involvement</h4>
    </div>
    <div class="view-choice" (click)="changeView(3)">
        <h4>Member Type</h4>
    </div>
    <div class="view-choice" (click)="changeView(4)">
        <h4>Engagement Type</h4>
    </div>
    <div class="graph-choice" (click)="changeGraph()">
        Change Graph
    </div>
</div>
